@model IEnumerable<Admin.Models.Author>

@{
    ViewData["Title"] = "Index";
}
<div class="_author">
    <h1>Authors</h1>

    <p>
        <a class="btn-primary" asp-action="Create">Create New</a>
    </p>
    <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Image
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        <img scr="@Html.DisplayFor(modelItem => item.AuthorImg)" />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionAuthor)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

