@model Singer
<div class="card">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SingerDetailPage" asp-route-singer_name="@Model.SingerName">
        <div class="card-img"> <img src="@Model.SingerImg" width="300" height="300" /></div>
        <div class="card-body">
            @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SingerDetailPage" asp-route-album_name="@Model.SingerName"> @Model.SingerName </a>*@
            <h5 style="text-align: center">@Model.SingerName</h5>
        </div>
    </a>
</div>

    @*<div class="text-center p-3 p-md-5 bg-white">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SingerDetailPage" asp-route-singer_name="@Model.SingerName">
            <div class="mb-4">
                <img src="@Model.SingerImg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <h3 class="font-weight-light h5">@Model.SingerName</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?</p>
    </div>*@

